node_modules/
.env
temporary screenshots/
screenshot.mjs
Website_videos/*
!Website_videos/video_homepage_hero.mp4
!Website_videos/esthetic-reels-web.mp4
Website_photos/
upload-to-cloudinary.mjs
test-upload.mjs
upload-video.mjs
social-media/
Propostas/
nexus assets/

# Local Netlify folder
.netlify
